{{!-- action to route post --}}
<form action="/resorts" method="post">
  <label for="name">name</label>
  <input type="text" name="name" id="resort-name" placeholder="name">
  <label for="latitude">latitude</label>
  <input type="text" name="latitude" id="resort-latitude">
  <label for="longitude">longitude</label>
  <input type="text" name="longitude" id="resort-longitude">
  <button type="submit">submit</button>
</form>