<h1>List all resorts</h1>
<p>welcome {{ currentUser.username }}</p>
<ul>
  {{#each resorts }}
  <li>
    <a href="/resorts/{{this._id}}/update">{{ this.name }}</a>
    <form action="/resorts/{{this._id}}/delete" method="post">
      <button type="submit">submit</button>
    </form>
  </li>
  {{/each}}
</ul>

<a href="/logout">logout</a>